<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-div">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-field', placeholder: "Username" %>
    </div>
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", class: 'form-field', placeholder: "Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-field', placeholder: "New password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-field', placeholder: "New password confirmation" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-field', placeholder: "Current password" %>
    </div>

    <div class="button button-color1">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>

<div class="delete-account-div">
<p>Unhappy? 
  <div class="button button-color3">
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
<div class="shared-links-div">
  <%= link_to "Back", :back %>
</div>
