<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-div">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-field', placeholder: "Email" %>
    </div>

    <div class="button button-color1">
      <%= f.submit "Reset my password" %>
    </div>
  </div>
<% end %>

<div class="shared-links-div">
  <%= render "devise/shared/links" %>
</div>
