<div class="card-footer-icon">
    <% if user_signed_in? %>
        <% if @likes.find_by(user_id: current_user.id, post_id: post.id) %>
            <%= link_to like_path(post), method: "put" do %>
           	    <%= image_tag "like.png", :align=> "middle" %>
        	<% end %>
        <% else %>
            <%= link_to like_path(post), method: "put" do %>
        	    <%= image_tag "like.png", style:"filter: grayscale(100%);", :align=> "middle" %>
        	<% end %>			
        <% end %>	
    <% else %>
        <%= image_tag "like.png", style:"filter: grayscale(100%);", :align=> "middle" %>
    <% end %>
</div>